{% extends 'admin/base.html.twig' %}

{% block title %}Hello User!{% endblock %}
{% set menu = 'user' %}

{% block body %}
    <div class="container">
        <div class="my-4">
            <h1 class="h3 mb-0">Password</h1>
        </div>

        {{ include('admin/flash.html.twig') }}

        {{ form(form) }}
    </div>
{% endblock %}
